header{
    display:flex;
    justify-content: space-between;
}

#wrapper{
    max-width: 1200px;
}

.topNav nav{
    display: none;
    clear: right;
    border:solid 1px white;
    padding:0.5em;
    text-align:center;
    
}

#menu id{
    float:right;

}

.topNav nav li{
    margin-bottom: 1em;
    border-bottom: solid 1px white;
}

.banner {
    padding:2em;
    padding-top:3em;
    height:200px;
    background: url(images/qnscollege.jpg);
    background-size:cover;
}

.dropdown{
    display: none;
}

.dropdown a{
    background-color:aqua;
}

.program-select{
    margin-bottom:1em;
}

.programNav a{
    display:block;
    padding:10px;
    border:solid 1px green
}

.programNav li:hover .dropdown{
    display:block;
}

.btn{
    display: block;
    width:100px;
    background-color: rgb(151, 13, 13);
    padding:0.5em;
    text-transform: uppdercase;
    color:white;
    margin-top:1em;
    text-align:center;
    border-radius:10px;
    box-shadow:3px 3px 3px black;
}

section{
    margin:2em 0;
}

article{
    margin:1em 0;
}

article img{
    width: 100%;
}

p{
    margin-bottom: 1em;
    margin-top: 1em;
}

h1, h2, h3 strong{
font-weight: bold;
}

.date{

}

a{
    color:black;
}

h1{
    float: left;
}

h2{
    text-transform: uppercase;
    color:orange;
}

body{
    margin: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
}

@media (min-width:768px){
    
    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap; 1em;
    }

    .flex-container{
        display:flex;
        
    }


    .program-select{
        width:33%;
        position:relative;
    }

    .dropdown{
        position:absolute;
        width:100%;
    }

    .topNav nav{
        border:none;
        float:right;
        margin-right:0;
    }

    .topNav ul, .topNav li,topNav form{
            display:inline;
            margin-left:1em;
    }

    .topNav nav{
        display:block;
    }

    #menu{
        display:none;
    }

    main{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap:1em;
    }

    .flex-container{
        display:flex;
    }

    .program-page{
        display:block
    }
    
    .programs{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:1em;
    }

    .program-card{
        border:solid 1px white;
        box-shadow: 3px;
    }

    .program-card img{
        width:100%;
    }

    .program-card p, .program-card h3, .program-card h4{
        margin:1em;
    }

}

.paragraph{
    background-color: rgba(255,255,255,0.5);
    padding: 1em;
    border: solid 1px black;
}

article h4{
    margin-top: 1em;
    margin-bottom:1em;
}

.program-select{

}

