#wrapper { 
    max-width: 1400px;
    overflow:auto;
}

header { 
    padding: 2em;
    background: 
    linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), url(images/twd3.jpg) no-repeat top right/70% ;
}


.p1 {
    width: 30% ;
    color: white ;
    margin-top:0 ;
}

h1 img{
    width: 300px;

    
}

.button{
    text-align: center;
    width: 3em;
    display: block;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color:black;
    text-decoration: none;
}

h1{
    margin-bottom: 0;
}

/* Navigation Bar*/

nav li{
    display: inline ;
    margin-right: 2em;
    border-right: solid 1px white;
    padding-right: 2em;
}

nav li:last-child{
    border:none;
}

nav {
    background-color: grey;
    padding: 0.1em 0; /* first value is for top and bottom and second value is for left and right*/
}


nav a {
    color: white;
}

.col { 
    float:left ;
    width: 49%;
    margin-right: 2%;
}   

.col:last-child{
    margin-right:0;

}

footer{ /* making sure nothing floats next to the footer */
    clear:both;
}


/* Episodes page */

.episodes{
    display:flex;
    flex-wrap:wrap;
    margin-right: auto;
    margin-left: auto;
}

.card {
    flex: 0 0 30%;
    margin-right: 2em;
    border:solid 1px white;
}

.card img{
    width: 100%;
}
